:local {
    .currency-amount {
        display: flex;
        align-items: center;

        &__symbol {
            font-size: 26px;
            margin-right: 5px;
        }

        &__field {
            font-size: 26px !important;
        }
    }
}