:local {
    .nav {
        font-size: 22px;

        & h1 {
            cursor: pointer;
        }

        & > * {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            margin-top: 0 !important;
        }

        &-buttons {
            & button {
                color: #ffffff !important;

                &[disabled] {
                    color: #cccccc !important;
                }
            }
        }
    }
}