:local {
    .currency-menu {
        display: flex;

        &__label {
            margin: 0;
            font-size: 22px !important;
        }

        &__flag {
            margin-bottom: -6px;
        }

        &__field {
            flex-grow: 1;
        }

        &__default {
            cursor: pointer;
            padding-right: 0 !important;
            width: 36px !important;

            &-yet path {
                fill: #3f51b5 !important;
            }    
        }
        
        
    }
}