:local {
    body {
        background: linear-gradient(135deg, rgba(41,182,246,1) 0%, rgba(121,134,203,1) 100%);
        height: 100%;
        margin: 0;
        overflow-y: hidden;
    }
    
    .converter {
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-top: -10%;

        &-content {
            max-width: 80%;
            display: flex;
            margin: 0 auto;
            padding: 15px;
            background: rgb(245, 245, 245) !important;
            align-items: center;

            &__block {
                display: flex;
                flex-direction: column;
                padding: 15px;
                min-width: 300px;
                width: 50%;
            }            
        }
    }
}